:root {
    --bs-purple: #534686;
    --bs-purple-active: rgba(83, 70, 134, 0.1);
    --bs-gray: #EFF3F9;
    --bs-gray02: rgba(83, 70, 134, 0.1);
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bs-gray);
    font-family: var(--bs-font-sans-serif);
}

.offcanvas-body {
    background-color: var(--bs-gray);
}

.offcanvas-header {
    background-color: var(--bs-white);
}

header {
    background-color: white;
}

.bi-justify {
    color: var(--bs-purple);
    font-size: 2rem;
}

.bi-chevron-left {
    font-size: 18px;
    color: var(--bs-purple);
}

.back-btn {
    display: inline-block;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--bs-gray02);
    display: flex;
    align-items: center;
    justify-content: center;
}


.bi-justify:hover {
    color: var(--bs-white);
    background-color: var(--bs-purple);
    transition: all 0.5 ease;
    opacity: 80%;
}


.offcanvas-title {
    text-align: left;
    width: 35px;
    height: 35px;
}

.general {
    background-color: var(--bs-gray02);
}

.general > h2 {
    color: var(--bs-purple);
}

// off canvas list


.btn:hover {
    color: #212529;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

// btn-toggle
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: var(--bs-purple-active);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }

  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-purple-active);
  }
  
  .scrollarea {
    overflow-y: auto;
  }

